@font-face {
    font-family: myfont;
    src: url(coffee.ttf);
}
@font-face {
    font-family: myfont1;
    src: url(CHASER.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(Asquire.otf);
}
*{
    text-decoration: none;
}

.navbar{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-right: 15px;
}
.fa-user{
    color: white;
}
h1{
    color: white;
    font-family: myfont;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 15px;
}


li a{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 25px;
}

button{
    background-color: aliceblue;
    margin-left:15px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: rgb(11, 11, 11);
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 25px;
}

.category{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 155px;
    padding-right: 15px;
    margin-top: -10px;
}
.category li{
    margin-right: 40px;
}
.category li a{
    color: black;
    font-family: myfont1;
    align-items: center;
}
.offer{
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding-left:  430px;
    padding-right: 25px; 
    padding-bottom: 6px;
    margin-top: -35px;
}
.offer h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.offer p{
    margin-top: -40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 13px;
    padding-left: 120px;
}
.model{ 
    width:900px;
    height: 200px;

}
.mod1{
    display: flex;
    background-image: url(model5.jpg);
    background-size: cover;
    background-position: relative;
   height: 700px;
   width:100%;
   background-repeat: no-repeat;
}

.shopnow button{
    margin-left: 660px;
    width: 200px;
    border-radius: 0%;
    margin-top: 10px;
    background-color: white;
}

.shopnow button a{
    font-size: 20px;
}

.empty{
    background-color: black;
    margin-top: -20px;
    width: 850px;
    height: 80px;
    padding-left: 645px;
    padding-right: 15px;
    
}

.empty h1{
    padding-top: 12px;
    font-family: myfont2;
    font-size: 50px;
    align-items: center;
}

.image-container {
    display: flex;
    margin-top: 30px;
    margin-left: 18px;
}

.image-container img {
    width: auto;
    height: 70vh; /* This ensures the height is always in view, adjust as needed */
    aspect-ratio: 9 / 16;
    object-fit: cover;
    margin: 0 100px; /* Adjust spacing between images */
}

.btn-container{
    display: flex;
    margin-top: 30px;
    margin-left: 18px;
    margin-top: 20px;
}

.btn-container button{
    width: 250px;
    margin: 0 120px;
    border-radius: 0%;
    background-color: white;
}

.btn-container button a{
    font-size: 20px;
}

.btm-box{
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.btm-box p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
}
.btm-box ul{
    margin-top: -10px;
    margin-left: -10px;
}

.fa-brands{
    width: 50px;
    font-size: 50px;
}

hr{
    margin-top: -8px;
    color: white;
}

.box-list{
    display: flex;
    justify-content: space-between;
}

.help-list ul{
    display: flex;
    flex-direction: column;
}

.help-list li a{
    font-size: 15px;
}

.info-list p{
    margin-left: 8px;
}

.info-list ul{
    display: flex;
    flex-direction: column;
}

.info-list li a{
    font-size: 15px;
}
.about-us p{
    margin-left: 5px;
}
.about-us ul{
    display: flex;
    flex-direction: column;
}

.about-us li a{
    font-size: 15px;
}